<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> ROZ Forum </title>

    <style>
        table,th,td {
            border: 1px solid white;
        }
    </style>

    <!-- Latest compiled and minified CSS of Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  </head>

  <body>
    <nav class = "navbar navbar-inverse">
        <div class = "container">

            <div class = "navbar-header">
                <a class="navbar-brand" href="#">ROZ Forum</a>
            </div>

            <ul class = "nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
            </ul>

            <!-- TODO -->
            <!-- I will set 2 status of page when login and not login -->
            <a class="navbar-brand" href="#" style = "margin-left: 1%" id = "displayUsername"></a>

            <form class="navbar-form navbar-left" role="search" method = "post">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
            </form>

            <div id = "navbar" class = "navbar-right">
                <ul class = "nav navbar-nav" id = "switchNavTab">
                </ul>
            </div>

        </div>
    </nav>

  <table width = "80%" style = "margin-left: 10%; margin-top: 2%">
      <tr style = "background-color: #2D90EC; color: white">
          <th width = "10%">Tag</th>
          <th width = "60%">Thread title</th>
          <th class="text-center" width = "10%">Upvote </th>
          <th class="text-center" width = "10%">Comments </th>
          <th witdh = "10%">Author </th>
      </tr>
      <table width = "80%" id = "displayThread" style = "margin-left: 10%;color : #1A5892"></table>
  </table>

  <script src = "../scripts/mainScripts.js"></script>

  </body>

</html>
